@import 'reset'

body 
	background #ccc

.container
	background #fff
	margin 0 auto;
	width 960px;
	margin-top 50px;
	min-height 500px;

$h = 60px

.menu
	position relative
	background #222
	list-style none
	color #fff
	a:hover
		background #080808	
	li
		display inline-block
		a
			text-decoration none
			color #fff
			line-height $h
			font-size 20px
			padding 0 10px
			display list-item
		&:hover
			>ul
				display inherit
	ul
		list-style none
		background #fff
		border-radius 4px
	
		position absolute
		top $h 
		border 1px solid rgba(0, 0, 0, .15)
		display none
		box-shadow 0 6px 12px rgba(0, 0, 0, .175)
		li
			a
				color #333
				&:hover
					background #f5f5f5
			position relative
			display list-item
			min-width 170px
			position relative	
			ul
				display none
				position absolute
				left 100% 
				top 0


